@import "variants";
/* body styles */
.main-page {
  width: 100%;
  padding-top: 25px;
}

.main-page_background_color {
  background-color: $ghostly-white-f2;
}

@import "header";
@import "banner-block";

@import "traineeship-slider";

@import "feedback-block";

@import "footer";
