/* feedback form */
.feedback-form {
  border: 2px solid $dark-purple;
  border-radius: 30px;
  width: 501px;
  height: 630px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px 44px 40px 44px;
  margin-top: 60px;
  background-color: $magnoly;

  .feedback-form__text {
    font-family: $panton-light;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 162%;
    color: $dark-purple;
  }

  .feedback-form__name,
  .feedback-form__phone,
  .feedback-form__internship {
    width: 100%;
    border-bottom: 1px solid $dark-purple;
    display: flex;
    max-height: 24px;
    position: relative;
  }
  .feedback-form__phone {
    margin-top: 56px;
    input::placeholder {
      opacity: 0;
    }
    input:focus::placeholder {
      opacity: 1;
    }
    .feedback-form__error-message_block {
      position: absolute;
      bottom: -17px;
      left: 0;
      color: #f10e00;
      font-family: $panton-SemiBold;
      font-weight: 400;
      font-size: 0.9rem;
      display: block !important;
    }
    .feedback-form__error-message_none {
      display: none;
    }
  }
  .feedback-form__internship {
    margin-top: 51px;
  }
  .feedback-form__portfolio-link {
    margin-top: 51px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      display: flex;
      width: 100%;
    }
    div:first-child {
      border-bottom: 1px solid $dark-purple;
      max-height: 24px;
    }
    div:nth-child(1) {
      align-items: center;
    }
    .feedback-form_indent_tb {
      margin-top: 20px;
      margin-bottom: 15px;
    }
    .feedback-form__file-upload {
      display: block;
      background-image: url("../images/icon-upload-file.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 28px;
      height: 28px;
      cursor: pointer;
      margin-right: 10px;
    }
    .feedback-form__file-upload-text {
      cursor: pointer;
    }
  }
  .feedback-form__message {
    margin-top: 41px;
    width: 100%;
    max-height: 104px;

    .feedback-form__message-area {
      width: 100%;
      padding: 0;
      border: none;
      outline: none;
      background: linear-gradient(to bottom, transparent 95%, $dark-purple 95%);
      background-size: 100% 20px;
      line-height: 20px;
      resize: none; /* Запрет изменения размеров */
    }
  }
  .feedback-form__label {
  }
  .feedback-form__input {
    background: none;
    border: none;
    outline: none;
    flex: 1;
  }

  .feedback-form__subscribe {
    display: flex;
    margin-top: 30px;
    max-height: 33px;
    align-self: flex-start;

    .feedback-form__checkbox {
      display: flex;
      position: relative;
      width: 24px;
      height: 24px;
      border: 2px solid $dark-purple;
      border-radius: 8px;
      margin-right: 10px;
      cursor: pointer;

      .feedback-form__input {
        display: none;
      }
      .feedback-form__input:checked + & {
        position: relative;
      }
    }
    .feedback-form__checkbox-agree::after {
      content: "";
      background-image: url("../images/icon-checkbox.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 20px;
      height: 28px;
      color: $dark-purple;
      position: absolute;
      right: -3px;
      top: -3px;
    }
    .feedback-form__checkbox-text {
      font-size: 1.2rem;
      line-height: 1.2rem;
      width: 342px;
      cursor: pointer;
    }
  }
  .feedback-form__submit-btn {
    vertical-align: middle;
    margin-top: 37px;
    width: 235px;
    height: 50px;
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
}
