$magnoly: #f8f6ff;
$dark-purple: #352958;
$white: #fff;
$black: #000;
$ghostly-white-ef: #eff0ff;
$ghostly-white-fd: #fdfdff;
$light-black: #3d3d3d;
$light-blue: #b1a8cb;
$ghostly-white-f8: #f8f8fb;
$grey: #b8b7bb;
$ghostly-white-f2: #f2f2fe;
$panton-SemiBold: "Panton SemiBold", sans-serif;
$panton-reg: "Panton", sans-serif;
$panton-light: "Panton Light", sans-serif;

:root {
  font-size: 10px;
}
