:root {
  font-size: 10px;
}

@media (max-width: 1250px) {
  .header-block_container-width_lg {
    width: 98%;
  }
  .header-block .header-block_display_destop {
    display: none;
  }
  .header-block .header-block__wrap-mobile {
    display: flex;
    flex-direction: column;
    gap: 21px;
    width: 100%;
  }
  .header-block .header-block__wrap-mobile {
    display: flex;
    flex-direction: column;
    gap: 21px;
    width: 100%;
  }
  .header-block .header-block__wrap-mobile .header-block__logo-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .header-block .header-block__wrap-mobile .header-block__logo-menu .logo img {
    height: 37px;
    width: 115px;
  }
  .header-block .header-block__wrap-mobile .header-block__logo-menu .burger-menu {
    cursor: pointer;
  }
  .header-block .header-block__wrap-mobile .header-block__contacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: 45px;
  }
  .header-block .header-block__wrap-mobile .header-block__contacts .header-block__email-phone {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .header-block .header-block__wrap-mobile .header-block__contacts .header-block__email-phone a {
    font-family: "Panton Light", sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #352958;
  }
  .header-block .header-block__wrap-mobile .header-block__contacts .btn-form {
    width: 169px;
    height: 45px;
    padding: 0;
  }
  .header-block .nav-block__mobile {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: #f2f2fe;
    z-index: 100;
    padding: 55px 0px;
  }
  .header-block .nav-block__mobile .nav-block__menu .navigation__list {
    display: flex;
    flex-direction: column;
    gap: 35px;
    font-family: "Panton SemiBold", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
  }
  .header-block .nav-block__mobile .nav-block__menu .navigation__list .navigation__item a {
    text-decoration: none;
    color: #352958;
  }
  .header-block .nav-block__mobile .nav-block__menu .btn-form {
    margin-top: 35px;
    width: 169px;
    height: 45px;
    padding: 0;
  }
  .header-block .nav-block__mobile .nav-block__info .networks {
    justify-content: center;
    gap: 13px;
  }
  .header-block .nav-block__mobile .nav-block__info .networks .contact-icon {
    width: 28px;
    height: 28px;
  }
}
@media (max-width: 1200px) {
  .banner-block .banner-block__background-img {
    display: none;
  }
}
@media (max-width: 1000px) {
  .banner-block {
    overflow-x: inherit;
  }
  .banner-block .banner-block__model {
    display: none;
  }
}
@media (min-width: 651px) {
  .reviews-slider_caption_mob {
    display: none;
  }
  .reviews-slider_caption_desk {
    display: block;
  }
}
@media (max-width: 650px) {
  .feedback-block {
    background-image: none;
  }
  .feedback-block .feedback-block__wrap .feedback-block__title {
    font-size: 2.4rem;
  }
  .feedback-block .feedback-block__wrap .feedback-form {
    width: 100%;
    max-width: 500px;
    padding: 0;
    height: 675px;
    margin-top: 35px;
  }
  .feedback-block .feedback-block__wrap .feedback-form .feedback-form__name,
  .feedback-block .feedback-block__wrap .feedback-form .feedback-form__phone,
  .feedback-block .feedback-block__wrap .feedback-form .feedback-form__internship {
    max-width: 370px;
    margin-top: 41px;
    max-height: 25px;
    padding-bottom: 4px;
  }
  .feedback-block .feedback-block__wrap .feedback-form .feedback-form__name .feedback-form__input,
  .feedback-block .feedback-block__wrap .feedback-form .feedback-form__phone .feedback-form__input,
  .feedback-block .feedback-block__wrap .feedback-form .feedback-form__internship .feedback-form__input {
    width: 50%;
  }
  .feedback-block .feedback-block__wrap .feedback-form .feedback-form__portfolio-link {
    max-width: 370px;
    margin-top: 0;
  }
  .feedback-block .feedback-block__wrap .feedback-form .feedback-form__portfolio-link .feedback-form_indent_tb {
    margin-bottom: 7px;
  }
  .feedback-block .feedback-block__wrap .feedback-form .feedback-form__portfolio-link div:first-child {
    margin-top: 41px;
    padding-bottom: 4px;
  }
  .feedback-block .feedback-block__wrap .feedback-form .feedback-form__portfolio-link .feedback-form__input {
    width: 50%;
  }
  .feedback-block .feedback-block__wrap .feedback-form .feedback-form__subscribe {
    max-width: 370px;
    align-self: center;
    margin-top: 20px;
  }
  .feedback-block .feedback-block__wrap .feedback-form .feedback-form__subscribe .feedback-form__checkbox-text {
    width: 226px;
  }
  .feedback-block .feedback-block__wrap .feedback-form .feedback-form__message {
    max-width: 370px;
    margin-top: 25px;
    max-height: 106px;
  }
  .feedback-block .feedback-block__wrap .feedback-form .feedback-form__message .feedback-form__message-area {
    background-size: 100% 21px;
    line-height: 21px;
  }
  .feedback-block .feedback-block__wrap .feedback-form .feedback-form__submit-btn {
    margin-top: 46px;
  }
  .footer-block .footer-block__wrap {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .footer-block .footer-block__wrap .footer-block__logo .logo {
    width: 115px;
    height: 37px;
    margin-bottom: 0;
  }
  .footer-block .footer-block__wrap .footer-block__logo p {
    display: none;
  }
  .footer-block .footer-block__wrap .footer-block__info {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .footer-block .footer-block__wrap .footer-block__info .footer-block__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .footer-block .footer-block__wrap .footer-block__info .footer-block__contacts .phone {
    font-size: 1.4rem;
    line-height: 257%;
  }
  .footer-block .footer-block__wrap .footer-block__info .footer-block__contacts .networks {
    justify-self: center;
    gap: 20.8px;
  }
  .footer-block .footer-block__wrap .footer-block__info .footer-block__contacts .networks .contact-icon {
    margin-top: 0;
    width: 47px;
    height: 46px;
  }
  .footer-block .footer-block__wrap .footer-block__info .footer-block__feedback-form .btn-form {
    padding: 0;
    width: 160px;
    height: 45px;
  }
  .footer-block .footer-block__wrap p {
    display: inline;
    font-family: "Panton Light", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: #352958;
  }
  .reviews-wrap .reviews-wrap__background-image {
    display: none;
  }
  .reviews-wrap .reviews-wrapper {
    margin-top: 35px;
  }
  .reviews-wrap .reviews-wrapper .reviews-title {
    font-size: 2.4rem;
  }
  .reviews-wrap .reviews-wrapper .reviews-block {
    margin-top: 60px;
  }
  .reviews-wrap .reviews-wrapper .reviews-block .reviews-block__slider {
    background-image: none;
  }
  .reviews-wrap .reviews-wrapper .reviews-block .reviews-block__slider .reviews-slider__wrapper .reviews-slider__slide {
    flex-direction: column;
  }
  .reviews-wrap .reviews-wrapper .reviews-block .reviews-block__slider .reviews-slider__wrapper .reviews-slider__slide .reviews-slider__image {
    display: flex;
    gap: 15px;
    width: 100%;
    align-items: center;
  }
  .reviews-wrap .reviews-wrapper .reviews-block .reviews-block__slider .reviews-slider__wrapper .reviews-slider__slide .reviews-slider__image .reviews-slider__caption {
    flex: 1;
  }
  .reviews-wrap .reviews-wrapper .reviews-block .reviews-block__slider .reviews-slider__wrapper .reviews-slider__slide .reviews-slider__image .reviews-slider__caption p {
    font-family: "Panton", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: #352958;
  }
  .reviews-wrap .reviews-wrapper .reviews-block .reviews-block__slider .reviews-slider__wrapper .reviews-slider__slide .reviews-slider__image img {
    width: 54px;
    height: 54px;
  }
  .reviews-wrap .reviews-wrapper .reviews-block .reviews-block__slider .reviews-slider__wrapper .reviews-slider__slide .reviews-slider__desc {
    padding: 25px;
  }
  .reviews-wrap .reviews-wrapper .reviews-block .reviews-block__slider .reviews-slider__wrapper .reviews-slider__slide .reviews-slider__desc .reviews-slider__text {
    gap: 25px;
  }
  .reviews-wrap .reviews-wrapper .reviews-block .reviews-block__slider .reviews-slider__wrapper .reviews-slider__slide .reviews-slider__desc .reviews-slider__text p {
    font-size: 1.4rem;
    line-height: 120%;
  }
  .reviews-wrap .reviews-slider__slide_odd .reviews-slider__image {
    flex-direction: row-reverse;
  }
  .reviews-wrap .reviews-slider__slide_odd .reviews-slider__image .reviews-slider__caption {
    text-align: right;
  }
  .reviews-slider_caption_mob {
    display: block;
    flex: 1;
  }
  .reviews-slider_caption_desk {
    display: none;
  }
}
@media (max-width: 480px) {
  .main-page {
    padding-top: 17px;
  }
  .header-block_container-width_lg {
    max-width: 328px;
    width: 100%;
  }
  .banner-block .banner-block__model {
    display: none;
  }
  .banner-block .banner-block__info .banner-block__info-text {
    padding-top: 0;
  }
  .banner-block .banner-block__info .banner-block__info-text .banner-block__title {
    font-size: 2.4rem;
    line-height: 2.7rem;
    max-width: 246px;
  }
  .banner-block .banner-block__info .banner-block__info-text .banner-block__description {
    font-size: 1.3rem;
    color: #000;
    width: 100%;
    line-height: 1.6rem;
    margin-top: 20px;
  }
  .banner-block_indent_lg {
    margin-top: 35px;
  }
  .banner-block__model,
  .banner-block__background-img {
    display: none;
  }
  .traineeship-slider .traineeship-slider__wrapper .traineeship-slider__slide {
    max-width: 286px;
    height: 331px;
    padding: 19px 19px 27px 19px;
  }
  .traineeship-slider .traineeship-slider__wrapper .traineeship-slider__slide .traineeship-slider__image {
    width: 286px;
    height: 214px;
    margin-bottom: 25px;
  }
  .traineeship-slider .traineeship-slider__wrapper .traineeship-slider__slide .traineeship-slider__image img {
    width: 100%;
  }
  .traineeship-slider .traineeship-slider__wrapper .traineeship-slider__slide .traineeship-slider__info .traineeship-slider__title {
    font-size: 1.8rem;
    margin-bottom: 25px;
  }
  .traineeship-slider .traineeship-slider__wrapper .traineeship-slider__slide .traineeship-slider__info .traineeship-slider__buttons {
    flex-flow: row-reverse;
    gap: 24px;
  }
  .traineeship-slider .traineeship-slider__wrapper .traineeship-slider__slide .traineeship-slider__info .traineeship-slider__buttons .traineeship-slider__link {
    width: 127px;
    height: 44px;
  }
  .traineeship-slider .traineeship-slider__wrapper .traineeship-slider__slide .traineeship-slider__info .traineeship-slider__buttons .traineeship-slider__btn {
    width: 131px;
    height: 48px;
  }
  .traineeship-slider .traineeship-slider__pagination .traineeship-slider__btn-prev {
    display: none;
  }
  .traineeship-slider .traineeship-slider__pagination .traineeship-slider__btn-next {
    transform: rotate(90deg);
    border-radius: 30px;
  }
  .traineeship-slider .traineeship-slider__pagination .traineeship-slider__btn-next .traineeship-slider_svg-next_big {
    display: none;
  }
  .traineeship-slider .traineeship-slider__pagination .traineeship-slider__btn-next .traineeship-slider_svg-next_small {
    display: block;
    transform: rotate(-90deg);
  }
  .modal-image {
    display: flex;
    justify-content: center;
  }
  .modal-image .modal-image__wrap {
    max-width: 222px;
    margin-left: 19px;
  }
  .modal-image .modal-image__wrap img {
    width: 100%;
  }
  .feedback-block {
    background-image: none;
  }
  .feedback-block .feedback-block__wrap .feedback-block__title {
    font-size: 2.4rem;
  }
  .feedback-block .feedback-block__wrap .feedback-form {
    width: 100%;
    max-width: 324px;
    padding: 0;
    height: 675px;
    margin-top: 35px;
  }
  .feedback-block .feedback-block__wrap .feedback-form .feedback-form__name,
  .feedback-block .feedback-block__wrap .feedback-form .feedback-form__phone,
  .feedback-block .feedback-block__wrap .feedback-form .feedback-form__internship {
    max-width: 272px;
    margin-top: 41px;
    max-height: 25px;
    padding-bottom: 4px;
  }
  .feedback-block .feedback-block__wrap .feedback-form .feedback-form__name .feedback-form__input,
  .feedback-block .feedback-block__wrap .feedback-form .feedback-form__phone .feedback-form__input,
  .feedback-block .feedback-block__wrap .feedback-form .feedback-form__internship .feedback-form__input {
    width: 50%;
  }
  .feedback-block .feedback-block__wrap .feedback-form .feedback-form__portfolio-link {
    max-width: 272px;
    margin-top: 0;
  }
  .feedback-block .feedback-block__wrap .feedback-form .feedback-form__portfolio-link .feedback-form_indent_tb {
    margin-bottom: 7px;
  }
  .feedback-block .feedback-block__wrap .feedback-form .feedback-form__portfolio-link div:first-child {
    margin-top: 41px;
    padding-bottom: 4px;
  }
  .feedback-block .feedback-block__wrap .feedback-form .feedback-form__portfolio-link .feedback-form__input {
    width: 50%;
  }
  .feedback-block .feedback-block__wrap .feedback-form .feedback-form__subscribe {
    max-width: 264px;
    align-self: center;
    margin-top: 20px;
  }
  .feedback-block .feedback-block__wrap .feedback-form .feedback-form__subscribe .feedback-form__checkbox-text {
    width: 226px;
  }
  .feedback-block .feedback-block__wrap .feedback-form .feedback-form__message {
    max-width: 272px;
    margin-top: 25px;
    max-height: 106px;
  }
  .feedback-block .feedback-block__wrap .feedback-form .feedback-form__message .feedback-form__message-area {
    background-size: 100% 21px;
    line-height: 21px;
  }
  .feedback-block .feedback-block__wrap .feedback-form .feedback-form__submit-btn {
    margin-top: 46px;
  }
}
@media (min-width: 480px) {
  .traineeship-slider .traineeship-slider__pagination .traineeship-slider__btn-next .traineeship-slider_svg-next_small {
    display: none;
  }
  .modal-image {
    display: none;
  }
}/*# sourceMappingURL=media.css.map */