@import "variants";

@media (max-width: 1250px) {
  .header-block_container-width_lg {
    width: 98%;
  }
  .header-block {
    .header-block_display_destop {
      display: none;
    }
    .header-block__wrap-mobile {
      display: flex;
      flex-direction: column;
      gap: 21px;
      width: 100%;
    }
    .header-block__wrap-mobile {
      display: flex;
      flex-direction: column;
      gap: 21px;
      width: 100%;
      .header-block__logo-menu {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .logo {
          img {
            height: 37px;
            width: 115px;
          }
        }
        .burger-menu {
          cursor: pointer;
        }
      }
      .header-block__contacts {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-height: 45px;
        .header-block__email-phone {
          display: flex;
          flex-direction: column;
          gap: 5px;
          a {
            font-family: $panton-light;
            font-weight: 300;
            font-size: 1.4rem;
            line-height: 150%;
            letter-spacing: 0.03em;
            color: $dark-purple;
          }
        }
        .btn-form {
          width: 169px;
          height: 45px;
          padding: 0;
        }
      }
    }
    .nav-block__mobile {
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      background: $ghostly-white-f2;
      z-index: 100;
      padding: 55px 0px;
      .nav-block__menu {
        .navigation__list {
          display: flex;
          flex-direction: column;
          gap: 35px;
          font-family: $panton-SemiBold;
          font-weight: 400;
          font-size: 1.6rem;
          text-align: center;
          .navigation__item {
            a {
              text-decoration: none;
              color: $dark-purple;
            }
          }
        }
        .btn-form {
          margin-top: 35px;
          width: 169px;
          height: 45px;
          padding: 0;
        }
      }
      .nav-block__info {
        .networks {
          justify-content: center;
          gap: 13px;
          .contact-icon {
            width: 28px;
            height: 28px;
          }
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .banner-block {
    .banner-block__background-img {
      display: none;
    }
  }
}

@media (max-width: 1000px) {
  .banner-block {
    overflow-x: inherit;
    .banner-block__model {
      display: none;
    }
  }
}

@media (min-width: 651px) {
  .reviews-slider_caption_mob {
    display: none;
  }
  .reviews-slider_caption_desk {
    display: block;
  }
}

@media (max-width: 650px) {
  // feedback block
  .feedback-block {
    background-image: none;
    .feedback-block__wrap {
      .feedback-block__title {
        font-size: 2.4rem;
      }
      .feedback-form {
        width: 100%;
        max-width: 500px;
        padding: 0;
        height: 675px;
        margin-top: 35px;

        .feedback-form__name,
        .feedback-form__phone,
        .feedback-form__internship {
          max-width: 370px;
          margin-top: 41px;
          max-height: 25px;
          padding-bottom: 4px;

          .feedback-form__input {
            width: 50%;
          }
        }
        .feedback-form__portfolio-link {
          max-width: 370px;
          margin-top: 0;

          .feedback-form_indent_tb {
            margin-bottom: 7px;
          }

          div:first-child {
            margin-top: 41px;
            padding-bottom: 4px;
          }

          .feedback-form__input {
            width: 50%;
          }
        }
        .feedback-form__subscribe {
          max-width: 370px;
          align-self: center;
          margin-top: 20px;

          .feedback-form__checkbox-text {
            width: 226px;
          }
        }
        .feedback-form__message {
          max-width: 370px;
          margin-top: 25px;
          max-height: 106px;

          .feedback-form__message-area {
            background-size: 100% 21px;
            line-height: 21px;
          }
        }
        .feedback-form__submit-btn {
          margin-top: 46px;
        }
      }
    }
  }
  // footer block
  .footer-block {
    .footer-block__wrap {
      flex-direction: column;
      align-items: center;
      gap: 30px;
      .footer-block__logo {
        .logo {
          width: 115px;
          height: 37px;
          margin-bottom: 0;
        }
        p {
          display: none;
        }
      }
      .footer-block__info {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        .footer-block__contacts {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 30px;

          .phone {
            font-size: 1.4rem;
            line-height: 257%;
          }
          .networks {
            justify-self: center;
            gap: 20.8px;
            .contact-icon {
              margin-top: 0;
              width: 47px;
              height: 46px;
            }
          }
        }
        .footer-block__feedback-form {
          .btn-form {
            padding: 0;
            width: 160px;
            height: 45px;
          }
        }
      }
      p {
        display: inline;
        font-family: $panton-light;
        font-weight: 300;
        font-size: 1.2rem;
        color: $dark-purple;
      }
    }
  }

  //reviews slider
  .reviews-wrap {
    .reviews-wrap__background-image {
      display: none;
    }
    .reviews-wrapper {
      margin-top: 35px;
      .reviews-title {
        font-size: 2.4rem;
      }
      .reviews-block {
        margin-top: 60px;
        .reviews-block__slider {
          background-image: none;
          .reviews-slider__wrapper {
            .reviews-slider__slide {
              flex-direction: column;
              .reviews-slider__image {
                display: flex;
                gap: 15px;
                width: 100%;
                align-items: center;
                .reviews-slider__caption {
                  flex: 1;
                  p {
                    font-family: $panton-reg;
                    font-weight: 700;
                    font-size: 1.6rem;
                    color: $dark-purple;
                  }
                }
                img {
                  width: 54px;
                  height: 54px;
                }
              }
              .reviews-slider__desc {
                padding: 25px;
                .reviews-slider__text {
                  gap: 25px;
                  p {
                    font-size: 1.4rem;
                    line-height: 120%;
                  }
                }
                .reviews-slider__caption {
                }
              }
            }
          }
        }
      }
    }
    .reviews-slider__slide_odd {
      .reviews-slider__image {
        flex-direction: row-reverse;
        .reviews-slider__caption {
          text-align: right;
        }
      }
    }
  }
  .reviews-slider_caption_mob {
    display: block;
    flex: 1;
  }
  .reviews-slider_caption_desk {
    display: none;
  }
}

@media (max-width: 480px) {
  .main-page {
    padding-top: 17px;
  }
  .header-block {
  }
  .header-block_container-width_lg {
    max-width: 328px;
    width: 100%;
  }

  // banner block
  .banner-block {
    .banner-block__model {
      display: none;
    }
    .banner-block__info {
      .banner-block__info-text {
        padding-top: 0;
        .banner-block__title {
          font-size: 2.4rem;
          line-height: 2.7rem;
          max-width: 246px;
        }
        .banner-block__description {
          font-size: 1.3rem;
          color: $black;
          width: 100%;
          line-height: 1.6rem;
          margin-top: 20px;
        }
      }
    }
  }
  .banner-block_indent_lg {
    margin-top: 35px;
  }

  .banner-block__model,
  .banner-block__background-img {
    display: none;
  }

  //   trainship slider
  .traineeship-slider {
    .traineeship-slider__wrapper {
      .traineeship-slider__slide {
        max-width: 286px;
        height: 331px;
        padding: 19px 19px 27px 19px;
        .traineeship-slider__image {
          width: 286px;
          height: 214px;
          margin-bottom: 25px;

          img {
            width: 100%;
          }
        }
        .traineeship-slider__info {
          .traineeship-slider__title {
            font-size: 1.8rem;
            margin-bottom: 25px;
          }
          .traineeship-slider__buttons {
            flex-flow: row-reverse;
            gap: 24px;

            .traineeship-slider__link {
              width: 127px;
              height: 44px;
            }
            .traineeship-slider__btn {
              width: 131px;
              height: 48px;
            }
          }
        }
      }
    }
    .traineeship-slider__pagination {
      .traineeship-slider__btn-prev {
        display: none;
      }
      .traineeship-slider__btn-next {
        transform: rotate(90deg);
        border-radius: 30px;
        border-width: 4px;

        .traineeship-slider_svg-next_big {
          display: none;
        }
        .traineeship-slider_svg-next_small {
          display: block;
          transform: rotate(-90deg);
        }
      }
    }
  }

  // modal image block
  .modal-image {
    display: flex;
    justify-content: center;
    .modal-image__wrap {
      max-width: 222px;
      margin-left: 19px;
      img {
        width: 100%;
      }
    }
  }

  // feedback block
  .feedback-block {
    background-image: none;
    .feedback-block__wrap {
      .feedback-block__title {
        font-size: 2.4rem;
      }
      .feedback-form {
        width: 100%;
        max-width: 324px;
        padding: 0;
        height: 675px;
        margin-top: 35px;

        .feedback-form__name,
        .feedback-form__phone,
        .feedback-form__internship {
          max-width: 272px;
          margin-top: 41px;
          max-height: 25px;
          padding-bottom: 4px;

          .feedback-form__input {
            width: 50%;
          }
        }
        .feedback-form__portfolio-link {
          max-width: 272px;
          margin-top: 0;

          .feedback-form_indent_tb {
            margin-bottom: 7px;
          }

          div:first-child {
            margin-top: 41px;
            padding-bottom: 4px;
          }

          .feedback-form__input {
            width: 50%;
          }
        }
        .feedback-form__subscribe {
          max-width: 264px;
          align-self: center;
          margin-top: 20px;

          .feedback-form__checkbox-text {
            width: 226px;
          }
        }
        .feedback-form__message {
          max-width: 272px;
          margin-top: 25px;
          max-height: 106px;

          .feedback-form__message-area {
            background-size: 100% 21px;
            line-height: 21px;
          }
        }
        .feedback-form__submit-btn {
          margin-top: 46px;
        }
      }
    }
  }
}

@media (min-width: 480px) {
  .traineeship-slider {
    .traineeship-slider__pagination {
      .traineeship-slider__btn-next {
        .traineeship-slider_svg-next_small {
          display: none;
        }
      }
    }
  }
  .modal-image {
    display: none;
  }
}
